
.high { 
	width: 30vw;
	height: 65vh;
	margin: 0.8vw;
	text-align: center;
}
.land {
	margin-left: 2vw;
}
.forest {
	width: 21vw;
	height: 65vh;
	margin: 0.5vw;
	margin-left: 3vw;
}
.carousel.img {
	width: 30vw;
}

.img-fluid {
	width: 93.7vw;
	height: 95vh;
	margin-left: 2vw;
	margin-right: 2vw;
}
