body {
	background-color: #F1FAEE;
	}
.vierkant {
	width: 30vw;
	height: 50vh;
	margin: 0.5vw;
	}
.high { 
	width: 30vw;
	height: 65vh;
	margin: 0.5vw;
}
button {
	width: 3vw;
}
.land {
	width: 40vw;
	height: 45vh;
	margin: 0.5vw;
}
.landscape {
	width: 45vw;
	height: 60vh;
	margin: 0.5vw;
}
#forest {
	width: 21vw;
	height: 65vh;
	margin: 0.5vw;
}