h3 {
	font-size: 1.8vw;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.9rem;
}
h6 {
	font-size: 0.8rem;
}
.about {
	font-size: 1.04vw;
	
}
@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	}
  }
.row {
	margin-right: 0%;
	margin-left: 0%;
}
.buttons {
    width: 6.5vw;
    height: 6.5vh;
    margin: 0vw;
    border: 0.4px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(155, 216, 158);
    font-size: 1vw;
}
.cal-intro {
	width: 80%;
	text-align: center;
}
.calculator-row {
	flex-wrap: nowrap;
}

.calculator_item {
	font-weight: bold;
}
.card-link {
	color: blue;
}
.card-columns .card {
    display: inline-block;
    width: 20vw;
}
.carousel.img {
	width: 30vw;
}
.carousel-indicators li {
	background-color: white;
	border: 2px solid black;
	height: 8px;
}
.carousel-info {
	width: 40%;
	float: right;
	margin-right: 10%;
}
.carousel-caption {
	right: 10vh;
}
.carousel-row {
	height: 33vw;
	padding-left: 3vh;
	padding-right: 3vh;
	padding-top: 3vh;
}
.coding {
	background-color: #1d1e22;
	color: white;
	margin-bottom: 5vw;
}
.col-calculator {
	flex-shrink: 2;
	margin: 0;
	padding: 0;
}

.contact {	
	background-color: #F3C678;
	position: relative;
}

.contactMe {
	position: absolute;
    top: 7vw;
    left: 10vw;

	/* for chrome and safari*/
	-webkit-animation-duration: 4s;
	-webkit-animation-name: slideing;

	/*for firefox*/
	-moz-animation-duration: 4s;
	-moz-animation-name: slideing;

	/* for opera*/
	-o-animation-duration: 4s;
	-o-animation-name: slideing;

	/* Standard syntax*/
	animation-duration: 4s;
	animation-name: slideing;
}
	@-webkit-keyframes slideing {
		from {
			margin-left: 50%;
			width: 15.6%;
		}
	
		to {
			margin-left: 8.35%;
			width: 15.6%;
		}
	}
	
	@-moz-keyframes slideing {
		from {
			margin-left: 50%;
			width: 15.6%;
		}
	
		to {
			margin-left: 8.35%;
			width: 15.6%;
		}
	}
	 @-o-keyframes slideing {
		from {
			margin-left: 50%;
			width: 15.56%;
		}
	
		to {
			margin-left: 8.35%;
			width: 15.6%;
		}
	}
	  @keyframes slideing {
		from {
			margin-left: 50%;
			width: 15.6%;
		}
	
		to {
			margin-left: 8.35%;
			width: 15.6%;
		}
	}
.contact a {
	color: black;
}
.container-fluid {
	width: 100%;
	padding: 0;
	margin: 0;
}
.computingBlock {
    padding: 1.5vw;
    margin: 0vw;
	margin-left: 5vh;
    width: 22.5vw;
    float: left;
}
.difference {
	width: 40%;
	height: 60%;
}

.displayValue {
    width: 32.5vw;
    height: 3vw;
    text-align: right;
    background-color: rgb(68, 154, 235);
    font-size: 1.7vw;
	border: 0.4px black solid;
}
.escape {
	margin-top: 5%;
	margin-left: 33%;
}
.escapeImage {
	width: 60%;
	margin-left: 20%;
}
.extra {
	margin: 0vw;
	padding: 0vw;
	top: 4vw;
	left: 20%;
}
.extra-info {
	position: absolute;
	color: white;
	font-size: 2vw;
	top: 3vw;
	/* for chrome and safari*/
	-webkit-animation-duration: 4s;
	-webkit-animation-name: slidein;

	/*for firefox*/
	-moz-animation-duration: 4s;
	-moz-animation-name: slidein;

	  /* for opera*/
	-o-animation-duration: 4s;
	-o-animation-name: slidein;

	  /* Standard syntax*/
	animation-duration: 4s;
	animation-name: slidein;
}

@-webkit-keyframes slidein {
	from {
		margin-left: 50%;
		width: 100%;
	}

	to {
		margin-left: -8.35%;
		width: 100%;
	}
}

@-moz-keyframes slidein {
	from {
		margin-left: 50%;
		width: 100%;
	}

	to {
		margin-left: -8.35%;
		width: 100%;
	}
}
 @-o-keyframes slidein {
	from {
		margin-left: 50%;
		width: 100%;
	}

	to {
		margin-left: -8.35%;
		width: 100%;
	}
}
  @keyframes slidein {
	from {
		margin-left: 50%;
		width: 100%;
	}

	to {
		margin-left: -8.35%;
		width: 100%;
	}
}
.extra-quest {
    top: 20vw;
	font-size: 2vw;
}
.first-image {
	margin-left: 8%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-right: 2vh;
}
.first-link {
	margin-left: 7vh;
	margin-right: 3.5vh;
}
.middle-link {
	margin: 3.5vh;
}
.last-link {
	margin-left: 3vh;
}
footer {
	background-color: #272446;
	border-top: 2px solid white;
	padding-left: 3vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
.forest {
	width: 21vw;
	height: 65vh;
	margin: 0.5vw;
	margin-left: 3vw;
}
.formules {
	height: 10vh;
}
.gallery {
	margin: 2vh;
}
.game {
	text-align: center;
}
.gameButton {
	width: 25%;
	height: 7vh;
	background-color: rgb(20, 155, 2);
	color: black;
	font-family: bold;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.game-heading {
	text-align: center;
}
.head {
	margin-left: 10%;
	font-size: 2.6vw;
	margin-top: 2vh;
	width: 70vw;
	overflow: hidden;
	white-space: nowrap;
	animation: control-width 3s 1s both;
}
@keyframes control-width {
	from {
		width: 0;
	}
	to {
		width: 70vw;
	}
}
.heading-projects {
	display: flex;
	align-items: center;
	margin-left: 3vh;
}
.headingThree {
	font-size: 1.9vw;
	width: 10vw;
	overflow: hidden;
	white-space: nowrap;
	animation: controls-width 2s 3s both;

}
@keyframes controls-width {
	from {
		width: 0;
	}
	to {
		width: 10vw;
	}
}
.headingTwo {
	margin-left: 10vh;
	font-size: 1.1vw;
}
.hide {
	display: none;
}
.high {
	height: 70vh;
	width: 26vw;
}
.highScore-button {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 11vh;
	font-size: 1.3vw;
}
.higherLower {
	margin-top: 24vh;
}
.homePage {
	text-align: center;
}
.homeImage {
	margin-left: 35%;
	width: 30%;
}
.intro {
	margin-left: 2vw;
}
.intro-extra {
	margin: 2vh;
}
.intro-info {
	margin: 0!important;
	padding: 2vh!important;
	background-color: #343244!important;

}
.intro-text {
	background-color: #343244;
}
.img-car {
	width: 50%;
}
.img-healthone {
	width: 53%;
}
.img-fluid {
	width: 93.7vw;
	height: 95vh;
	margin: 4vh;
}
.img-stardust {
	width: 55%;
	height: 80%;
}
.img-zuzu {
	width: 55%;
	height: 80%;
}
.image-footer {
	position: relative;
}
.imageRow {
	margin-bottom: 4vh;
	margin-top: 2vh;
}
.info-zuzu {
	width: 40%;
	float: right;
}
.jobDescription {
	font-size: 1.1vw;
}
.last {
	margin-bottom: 5vh;
}
.land {
	margin-left: 2vw;
}
.last-site {
    text-align: center;
	margin-left: 10vw;
}
.last-site-head {
	margin-left: 13vw;
	font-size: 1.5vw;
}
.lost-button-theme {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 9vh;
	font-size: 1.3vw;
}
.lower-head {
	margin-top: 3%;
}
main {
	margin-left: 5vh;
	padding-bottom: 5vh;
}
.mains {
	padding-bottom: 11vh;
}
.me {
	width: 40%;
	right: 3vh;
	margin-top: 2vh;
	margin-bottom: 2vh;

}
.motivatie {
	margin-right: 20%;
}
.motivation {
	padding-left: 16.5vw;
}
.motivation-button {
	font-size: 1.1vw;
}
.motivation-footer {
	position: fixed;
}
.motivation-text {
	margin-left: 1vw;
	margin-top: 2vw;
	font-size: 1.3vw;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Body classes*/
.myBody {
	position: relative;
	background-color: #413b86;
	color: rgb(255, 255, 255);
	font-size: 1vw;
	height: 100%;
	padding-bottom: 8vh;
	margin: 0;
	padding: 0;
}
.myBody-switch {
	background-color: #272446;
	color: white;
	font-size: 1vw;

}
.nature {
	width: 30vw;
}
.navigation-footer {
	float: right;
	padding-right: 10%;
}
.navbar-style {
	padding-top: 3vh;
	border-bottom: 2px solid white;
}
nav {
	background-color: #272446;
	border-bottom: 0.5 solid rgb(177, 177, 177);
	
}
nav button {
	font-size: 1.2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-link {
	display: inline;
}
.nav-link-switch {
	display: block;
}
.nav-over {
	grid-column: 1/4;
}
.nav-switch {
	background-color: rgb(34, 65, 143);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}
.newBlock {
	width: 6vw;
	height: 6vw;
	background-color: black;
	float: right;
}

.over {
	font-size: 2vw;
}
#output {
	width: 45vw;
	height: 40vw;
	border: 1px solid black;
	background-color: white;
}
.pacman {
	width: 6vw;
	position: absolute;
	right: 1%;
	top: 4.7vw;
} 

.pacman-new {
	height: 6.1vw;
	width: 6.2vw;
	
	position: absolute;

}
/*
.head {
	margin-left: 10%;
	font-size: 2.6vw;
	margin-top: 2vh;
	width: 70vw;
	overflow: hidden;
	white-space: nowrap;
	animation: control-width 3s 1s both;
}
@keyframes control-width {
	from {
		width: 0;
	}
	to {
		width: 70vw;
	}
}
*/
.p1 {
	width: 50vw;
	overflow: hidden;
	margin: 0vw;
	padding: 0vw;
	white-space: nowrap;
	animation: control-width1 3s 4s both;
}
.p2 {
	width: 50vw;
	overflow: hidden;
	margin: 0vw;
	padding: 0vw;
	white-space: nowrap;
	animation: control-width1 3s 6s both;
}
.p3 {
	width: 50vw;
	overflow: hidden;
	margin: 0vw;
	padding: 0vw;
	white-space: nowrap;
	animation: control-width1 3s 8s both;
}
.p4 {
	width: 50vw;
	overflow: hidden;
	margin: 0vw;
	padding: 0vw;
	white-space: nowrap;
	animation: control-width1 3s 10s both;
}
.p5 {
	width: 50vw;
	overflow: hidden;
	margin: 0vw;
	padding: 0vw;
	white-space: nowrap;
	animation: control-width1 2s 12s both;
}
@keyframes control-width1 {
	from {
		width: 0;
	}
	to {
		width: 50vw;
	}
}
p {
	font-size: 1.1vw;
}
.projects-aside {
	margin-left: 3vw;
}
.projects-aside-title {
	margin-left: 10vw;
	font-size: 1.5rem;
}

.projectCoursel {
	width: 50%;
	height: 30%;
	margin-right: 0vw;
}
.quiz {
	margin-right: 17%;
}
.runCode {
	position: absolute;
	left: 22vw;
	bottom: 2vw;
	background-color: orange;
}
.score-button {
	display: none;
}
.score-button-theme {
	margin-left: 30vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 7vh;
	font-size: 1.3vw;
}
.slide {
	background-color: #413b86;
}
span {
	margin-left: 6vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}
.start {
	margin-top: 5%;
	margin-left: 40%;
}
.stardust-info {
	width: 50%;
	height: 100%;
	margin-right: 0vw;
}
.switchButton {
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin-left: 2vw;
	font-family: bold;
}
.top {
	padding-top: 3vw;
	padding-bottom: 3vw;
}
.row-calculator {
	margin: 0;
	padding: 0;
	flex-wrap:nowrap;
	flex-shrink: 2; 	
}
.displayRow {
	margin-right: 1vw;
}
/* Pacman blocks for the home page*/
.newBlock {
	width: 6.2vw;
	height: 6.1vw;
	top: 9.61vw;
	position: absolute;
	right: 9vw;
	transform: scaleX(-1);
}
