body {
	background-color: #D4F2CF;
	color: black;
}

.me {
	width: 60%;
	margin-left: 10%;
	margin-top: 12%;
}
.head {
	margin-left: 17%;
	font-size: 2.6vw;
}
.lower-head {
	margin-top: 3%;
}
.contact {	
	background-color: #F3C678;
}
.contact a {
	color: black;
}
.project {
	margin-left: 16%;
}
.about {
	font-size: 1.04vw;
}