h6 {
    margin-left: 1vh;
}

.myBody {
    position: relative;
    background-color: #413b86;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
textarea {
    background-color: #3b3a3a;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.3vh;
    height: 70vh;
    width: 85%;
    align-content: center;
}
iframe {
    margin-left: 10vh;
    width: 40vw;
    height: 70vh;
    margin-right: 4px;
    border: black 1px solid;

}
.row {
    margin:0;
}
.col-lg-2 {
    padding-right: 0px;
    padding-left: 0px;
}